*{
    padding: 0;
    margin: 0;
}

.container{
    display: grid;

}

.child{
    min-width: 300px;
    height: 300px;
    font-size: 100px;
    color: white;
    line-height: 300px;
    text-align: center;
}

@media screen and (min-width: 450px) and (max-width: 749px){
    .container{
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 750px) and (max-width: 1049px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
    #three{
        order: 2;
    }
    #four{
        order: 1;
    }
    #five, #six{
        order: 3;
    }
}

@media screen and (min-width: 1050px){
    .container{
        grid-template-columns: repeat(3, 1fr);
    }
    #four{
      order: 3;
    }
    #five{
        order: 2;
    }
    #six{
       order: 1;
    }
}

.child:nth-child(1){
    background-color: rgb(255,0,0);
}
.child:nth-child(2){
    background-color: rgb(204,0,0);
}
.child:nth-child(3){
    background-color: rgb(153,0,0);
}
.child:nth-child(4){
    background-color: rgb(102,0,0);
}
.child:nth-child(5){
    background-color: rgb(51,0,0);
}
.child:nth-child(6){
    background-color: rgb(0,0,0);
}