*{
    padding: 0;
    margin: 0;
}

#one{
    background-color: rgb(255,0,0);
    grid-area: one;
}
#two{
    background-color: rgb(204,0,0);
    grid-area: two;
}
#three{
    background-color: rgb(153,0,0);
    grid-area: three;
}
#four{
    background-color: rgb(102,0,0);
    grid-area: four;
}
#five{
    background-color: rgb(51,0,0);
    grid-area: five;
}
#six{
    background-color: rgb(0,0,0);
    grid-area: six;
}

.container{
    display: grid;

}

.child{
    min-width: 300px;
    height: 300px;
    font-size: 100px;
    color: white;
    line-height: 300px;
    text-align: center;
}

@media screen and (min-width: 450px) and (max-width: 749px){
    .container{
        grid-template-areas: "one"
    "two"
    "three"
    "four"
    "five"
    "six";
    }
}

@media screen and (min-width: 750px) and (max-width: 1049px){
    .container{
        grid-template-areas: "one two"
    "four three"
    "five six";
    }
}

@media screen and (min-width: 1050px){
    .container{
        grid-template-areas: "one two three"
                             "six five four";
    }
}
