*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family:Arial, sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 450px) and (max-width: 749px){
    .child{
        flex-direction: column;
        order: 0;
        width: 100%;
    }
}

@media screen and (min-width: 750px) and (max-width: 1049px){
    .child{
        flex-basis: 40%;
    }
    #four{
        order: 1;
    }
    #three{
        order: 2;
    }
    #five, #six{
        order: 3;
    }
}

@media screen and (min-width: 1050px){
    .child{
        flex-basis: 33%;
    }
    #four{
        order: 3;
    }
    #five{
        order: 2;
    }
    #six{
       order: 1;
    }
}

.child{
    height: 300px;
    flex-direction: column;
    min-width: 300px;
    color: white;
    line-height: 300px;
    font-size: 100px;
    text-align: center;
}

.child:nth-child(1){
    background-color: rgb(255,0,0);
}
.child:nth-child(2){
    background-color: rgb(204,0,0);
}
.child:nth-child(3){
    background-color: rgb(153,0,0);
}
.child:nth-child(4){
    background-color: rgb(102,0,0);
}
.child:nth-child(5){
    background-color: rgb(51,0,0);
}
.child:nth-child(6){
    background-color: rgb(0,0,0);
}